/* Table Sorter */
table.tablesorter .header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}















